/* font import */
@import url(https://db.onlinewebfonts.com/c/16efa2896f117dae2debeb23ab4715dd?family=Didot+eText+W01+Italic);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap");

/* variables */

:root {
  --primary-color: rgba(188, 76, 42, 255);
  --backround-color: rgba(248, 244, 240, 255);
  --poppins: "Poppins", sans-serif;
  --roboto: "Roboto", sans-serif;
  --didot: "Didot eText W01 Italic";
}

/* reset */
body,
a,
h1,
h2,
p {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
a {
  color: black;
}
li {
  list-style-type: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.search-bar-container {
  justify-content: center;
}
.search-bar {
  display: none;
}
.site-links-container {
  display: none;
}
.search-bar input {
  border: none;
  border-bottom: solid 2px var(--primary-color);
}
.search-bar input::placeholder {
  padding: 8px 0px;
  font-size: 16px;
}

.nav-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 85px;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons-list {
  display: flex;
}
.logos {
  width: 1.188rem;
  height: 1.188rem;
}
.icons-list-items {
  margin-left: 1em;
}
.cart-menu {
  display: flex;
}
.cart {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.cart a {
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  font-style: italic;
}
.menu {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.menu input {
  display: none;
}

.menu label {
  margin-bottom: 7px;
  z-index: 999999;
}
.tittle-logo-container {
  display: flex;
  justify-content: center;
}
.tittle-logo {
  font-size: 34px;
  text-align: center;
  color: var(--primary-color);
  font-family: var(--didot);
  font-style: italic;
  font-weight: 100;
  margin-bottom: 20px;
}
.shop-now-container {
  display: flex;
  justify-content: center;
  background-color: var(--backround-color);
}
.shop-now {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 315px;
  background-color: rgb(180, 180, 180);
  background-image: url(./photos/bag-holding.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}
.shop-now-header-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.shop-now-header {
  font-size: 38px;
  color: white;
  font-family: var(--poppins);
  letter-spacing: 0.3rem;
  margin-top: 3rem;
}
.shop-now-btn-container {
  display: flex;
  align-items: start;
  justify-content: center;
}
.shop-now-btn {
  color: white;
  border: solid white 1px;
  padding: 15px 40px 15px 40px;
  margin-top: 1rem;
  font-family: var(--roboto);
  font-size: 14px;
}
.best-seller-header-container {
  display: flex;
  justify-content: center;
}
.best-seller-header {
  font-family: var(--poppins);
  font-size: 21px;
  letter-spacing: 0.11em;
  font-weight: 600;
  margin-top: 47px;
  margin-bottom: 27px;
}
.break-box {
  display: flex;
  justify-content: center;
}
.break {
  width: 17px;
  border-bottom: 3px solid black;
  margin-bottom: 25px;
}
.slider-container {
  display: grid;
  grid-template-columns: 1fr 220px 1fr;
}
.slider-card {
  width: 220px;
  height: 382px;
}
.slider-card-one {
  width: 220px;
  height: 382px;
  display: none;
}
.slider-card-two {
  width: 220px;
  height: 382px;
  display: none;
}
.slider-card-three {
  width: 220px;
  height: 382px;
  display: none;
}
.slider-card-four {
  width: 220px;
  height: 382px;
  display: none;
}
.slider-card-five {
  width: 220px;
  height: 382px;
  display: none;
}
.arrow-left-container,
.arrow-right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
}
.tag-price-container {
  display: grid;
  grid-template-rows: 25px 30px;
  padding: 16px 18px 18px;
}
.tag-line,
.price-tag {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tag-line > p {
  font-family: var(--roboto);
  font-size: 16px;
}
.price-tag > p {
  color: var(--primary-color);
  font-family: var(--didot);
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
}
.shop-all-btn-container {
  display: flex;
  align-items: start;
  justify-content: center;
}
.shop-all-btn {
  color: var(--primary-color);
  border: solid var(--primary-color) 1px;
  padding: 15px 50px;
  margin-top: 50px;
  margin-bottom: 59px;
}
.other-example {
  display: grid;
  width: 100%;
  grid-template-rows: 355px 374px 355px 374px;
}
.leather-goods-container-container {
  display: flex;
  justify-content: center;
  background-color: var(--backround-color);
}
.leather-goods-container {
  background-image: url(./photos/leather-goods.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(180, 180, 180);
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 100%;
}
.leather-goods-link {
  width: 200px;
  margin-top: 10px;
}

.leather-goods-link a,
.leather-belts-link a {
  color: white;
  font-family: var(--poppins);
  font-size: 21px;
  letter-spacing: 0.15rem;
  text-decoration: underline;
}
.leather-belts-container-container {
  display: flex;
  justify-content: center;
  background-color: var(--backround-color);
}
.leather-belts-container {
  background-image: url(./photos/leather-belts.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(180, 180, 180);
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.leather-belts-link {
  width: 200px;
  margin-top: 10px;
}

.leather-goods-example-container {
  background-color: var(--backround-color);
}
.leather-goods-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.leather-belts-example-container {
  background-color: var(--backround-color);
}
.leather-belts-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.brand-description {
  display: grid;
  grid-template-rows: 219px 219px 219px;
  gap: 15px;
  color: white;
}
.brand-description-card-container-one {
  background-image: url(./photos/one.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(180, 180, 180);
  background-blend-mode: multiply;
  display: grid;
  grid-template-rows: 75px 35px 45px 64px;
}
.brand-description-card-container-two {
  background-image: url(./photos/two.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(180, 180, 180);
  background-blend-mode: multiply;
  display: grid;
  grid-template-rows: 75px 35px 45px 64px;
}
.brand-description-card-container-three {
  background-image: url(./photos/three.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(180, 180, 180);
  background-blend-mode: multiply;
  display: grid;
  grid-template-rows: 75px 35px 45px 64px;
}
.italic-tittle,
.thick-tittle,
.break-other-container,
.small-link {
  display: flex;
  justify-content: center;
}
.italic-tittle {
  align-items: end;
}
.italic-tittle p {
  font-family: var(--didot);
  font-size: 19px;
  font-style: italic;
}
.thick-tittle {
  align-items: center;
}
.thick-tittle p {
  font-family: var(--poppins);
  font-size: 21px;
  font-weight: 600;
}
.break-other-container {
  align-items: start;
}
.break-other {
  width: 17px;
  border-bottom: 3px solid white;
  margin-top: 7px;
}
.small-link a {
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  text-decoration: underline;
}
.follow-me {
  margin-top: 15px;
  background-color: var(--backround-color);
  width: 100%;
}
.follow-me-header-container,
.follow-me-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.follow-me-header-container p {
  font-family: var(--poppins);
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  width: 190px;
  margin-top: 45px;
  margin-bottom: 25px;
}
.follow-me-link-container a {
  font-family: var(--didot);
  font-size: 22px;
  color: var(--primary-color);
  margin-bottom: 30px;
}
.selling-points {
  display: grid;
  grid-template-rows: 80px 80px 80px;
  background-color: var(--backround-color);
  color: var(--primary-color);
}
.break-other-other {
  width: 17px;
  border-bottom: 3px solid var(--primary-color);
  margin-top: 10px;
  margin-bottom: 20px;
}
.point-one,
.point-two,
.point-three {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.point-one p,
.point-two p,
.point-three p {
  font-family: var(--didot);
  font-size: 20px;
}
.additional-links-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.additional-links-header h2 {
  font-size: 31px;
  text-align: center;
  color: var(--primary-color);
  font-family: var(--didot);
  font-style: italic;
  font-weight: 100;
  margin-top: 50px;
  margin-bottom: 65px;
}
.shop-links {
  justify-content: center;
  align-items: center;
}
.shop-links,
.faq,
.social-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shop-links li,
.faq li,
.social-links li {
  margin-bottom: 30px;
}
.faq {
  margin-top: 60px;
}
.social-links {
  margin-top: 60px;
  margin-bottom: 60px;
}
.shop-links a,
.faq a,
.social-links a {
  font-family: var(--roboto);
  font-size: 15px;
  color: black;
}
.join-us-form {
  margin-bottom: 65px;
}
.form-header {
  font-family: var(--poppins);
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-align: center;
  margin-bottom: 35px;
}
.form-container {
  display: flex;
  justify-content: center;
}
.form-label {
  width: 260px;
}
.form-label label {
  font-family: var(--roboto);
  font-size: 16px;
}
.form-input input {
  width: 260px;
  border: none;
  border-bottom: 3px solid var(--primary-color);
  margin-bottom: 15px;
  padding: 5px;
}
.send-btn {
  color: var(--primary-color);
  border: solid var(--primary-color) 1px;
  padding: 18px 50px;
  width: 260px;
  background-color: white;
  font-family: var(--roboto);
  font-size: 14px;
}
input[type="email"]:focus {
  width: 260px;
  border: none;
  border-bottom: 3px solid var(--primary-color);
  margin-bottom: 15px;
  padding: 5px;
  outline: none;
}
input[type="email"]:invalid {
  width: 260px;
  border: none;
  border-bottom: 3px solid rgb(253, 41, 42);
  margin-bottom: 15px;
  padding: 5px;
  outline: none;
}
footer {
  width: 100%;
  height: 80px;
  background-color: var(--backround-color);
  display: flex;
  justify-content: center;
}
footer p {
  font-size: 14px;
  font-family: var(--roboto);
  text-align: center;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (320px <= width <= 480px) {
  .shop-now,
  .leather-goods-container,
  .leather-belts-container {
    background-position: center bottom;
  }
}
@media (540px <= width) {
  .slider-container {
    grid-template-columns: 1fr 220px 220px 1fr;
    gap: 15px;
  }
  .slider-card-one {
    display: block;
  }
}
@media (760px <= width) {
  .slider-container {
    grid-template-columns: 1fr 220px 220px 220px 1fr;
  }
  .slider-card-two {
    display: block;
  }
}
@media (1080px <= width) {
  .slider-container {
    grid-template-columns: 1fr 220px 220px 220px 220px 1fr;
  }
  .slider-card-three {
    display: block;
  }
}

@media (480px <= width <= 960px) {
  .shop-now,
  .leather-goods-container,
  .leather-belts-container {
    max-width: 480px;
    background-position: center bottom;
  }
  .logos {
    width: 1.8rem;
    height: 1.8rem;
  }
  .cart a {
    font-size: 25px;
  }
  .shop-links a,
  .faq a,
  .social-links a {
    font-size: 20px;
  }
  .tittle-logo {
    font-size: 40px;
  }
  .shop-now-btn,
  .shop-all-btn,
  .tag-line > p,
  .price-tag > p {
    font-size: 20px;
  }
  .best-seller-header {
    font-size: 25px;
  }
}
@media (960px <= width) {
  .logos {
    width: 1.8rem;
    height: 1.8rem;
  }
  .cart a {
    font-size: 25px;
  }
  .shop-links a,
  .faq a,
  .social-links a {
    font-size: 20px;
  }
  .tittle-logo {
    font-size: 40px;
  }
  .shop-now-btn,
  .shop-all-btn,
  .tag-line > p,
  .price-tag > p {
    font-size: 20px;
  }
  .best-seller-header {
    font-size: 25px;
  }
  .menu {
    display: none;
  }
  .top-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 92px;
  }
  .search-bar-container {
    display: flex;
    grid-column: 1 / 2;
  }
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tittle-logo-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-items: center;
  }
  .tittle-logo {
    margin: 0;
    font-size: 40px;
  }
  .nav-header {
    grid-column: 3 / 4;
  }
  .cart-menu {
    justify-content: end;
  }
  .logos {
    width: 1.4rem;
    height: 1.4rem;
  }
  .cart a {
    font-size: 20px;
  }
  .site-links-container {
    display: flex;
    min-height: 85px;
    justify-content: center;
  }
  .site-links {
    display: flex;
    align-items: center;
  }
  .site-links-list {
    display: flex;
    justify-content: space-between;
  }
  .site-links-list a {
    font-family: var(--roboto);
    font-size: 20px;
    margin: 0px 40px;
  }
  .shop-now-container {
    .shop-now {
      display: grid;
      grid-template-rows: 1fr 1fr;
      width: 100%;
      height: 680px;
      background-color: rgb(180, 180, 180);
      background-image: url(./photos/big-photo-1.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-blend-mode: multiply;
      background-position: center bottom;
    }
  }
  .shop-now-header-container {
    align-items: end;
  }
  .shop-now-header {
    margin-bottom: 30px;
    font-size: 50px;
  }
  .shop-now-btn {
    padding: 20px 45px 20px 45px;
    margin-top: 1rem;
    font-family: var(--roboto);
    font-size: 20px;
  }
  .best-seller-header {
    font-size: 30px;
  }
  .shop-now,
  .leather-goods-container,
  .leather-belts-container {
    background-position: center bottom;
  }
  .other-example {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 680px 680px;
  }
  .leather-goods-example-container {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .leather-belts-example-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .brand-description {
    grid-template-columns: 1fr 25% 25% 25% 1fr;
    grid-template-rows: 515px;
    margin: 50px 10px;
  }
  .brand-description-card-container-one,
  .brand-description-card-container-two,
  .brand-description-card-container-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center center;
  }
  .italic-tittle p {
    font-family: var(--didot);
    font-size: 25px;
    font-style: italic;
    margin-bottom: 30px;
  }
  .thick-tittle p {
    font-family: var(--poppins);
    font-size: 30px;
    font-weight: 600;
  }
  .small-link a {
    color: white;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    text-decoration: underline;
    font-size: 20px;
    margin-top: 40px;
  }
  .selling-points {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px;
  }
  .point-one,
  .point-two,
  .point-three {
    justify-content: center;
  }
  .additional-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .additional-links a {
    font-size: 16px;
  }
  .faq {
    margin: 0;
  }
  .join-us-form {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
